@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    // primary colors
    --prm-pink: hsl(322, 100%, 66%);
    --prm-light-pink: hsl(321, 100%, 78%);
    --prm-light-red: hsl(0, 100%, 63%);

    // neutral colors
    --n-dark-cyan: hsl(192, 100%, 9%);
    --n-pale-blue: hsl(207, 100%, 98%);

    // fonts 
    --ff-poppins: 'Poppins', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-open-sans);
    color: var(--n-dark-cyan);
}

p, h1, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-family: var(--ff-poppins);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 1rem;
    box-sizing: border-box;

}

input[type="submit"], input[type="email"] {
    border: 0;
    outline: none;
    background-color:transparent;
    box-sizing: border-box;
}

.btn {
    color: white;
    font-weight: 600;
    padding: 1rem 4rem;
    background: var(--prm-pink);
    border-radius: 30px;
    box-shadow: 5px 5px 7px 0 rgba(0,0,0,.2);

    &:hover {
        cursor: pointer;
        background: var(--prm-light-pink);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

header {
    padding: 2rem 0;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-logo {
            max-width: 13rem;
        }
        .nav-btn {
            color: var(--prm-pink);
            border: 1px solid var(--prm-pink);
            border-radius: 30px;
            padding: .5rem 2rem;

            &:hover {
                cursor: pointer;
                color: var(--prm-light-pink);
                border: 1px solid var(--prm-light-pink);
            }
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1rem;
    text-align: center;


    .hero-header {
        padding-top: 2.5em;
        font-size: clamp(1.1rem, 5vw, 2.3rem);
    }
    .hero-desc {
        font-size: clamp(1rem, 3vw, 1.2rem);
        max-width: 37rem;
        padding: 1rem 0;
    }
    .hero-ilustration {
        max-width: 60rem;
        padding-top: 4em;
    }
    .wrap-feedback {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 20rem;
        .feedback {
            .feedback-icon-com {
                max-width: 2.5rem;
                margin-left: 1.2rem; 
            }
            .feedback-icon-mes {
                max-width: 2.5rem;
                margin-left: .5rem; 
            }
            .feedback-headear {
                font-size: 5.5rem;
                font-family: var(--ff-open-sans);
                font-weight: 700;
            }
            .feedback-info {
                font-weight: 400;
            }
        }
    }
}

.grow {
    width: 100%;
    
    .container {
        background: var(--n-pale-blue);
    }
    .grow-information {
        max-width: 32rem;
    }
    .grow-ilustration {
        max-width: 35rem;
    }

    &::before {
        content: '';
        display: block;
        background-image: url(images/bg-section-top-desktop-1.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 165px;
    }
    
    &::after {
        content: '';
        display: block;
        background-image: url(images/bg-section-bottom-desktop-1.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 139px;
    }
}

.conversation {
    margin: 7em 0;
    .conversation-information {
        max-width: 32rem;
    }
    .conversation-ilustration {
        max-width: 35rem;
    }
}

.users {
    width: 100%;
        
    .container {
        background: var(--n-pale-blue);
    }
    .users-information {
        max-width: 32rem;
    }
    .users-ilustration {
        max-width: 35rem;
    }
    

    &::before {
        content: '';
        display: block;
        background-image: url(images/bg-section-top-desktop-2.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 156px;
    }

    &::after {
        content: '';
        display: block;
        background-image: url(images/bg-section-bottom-desktop-2.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 139px;
    }
}



.community {
    margin: 7em 0;
    
    .wrap-community {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

footer {
    color: white;
    font-size: .9rem;
    .grid {
        align-content: left;
        align-items: initial;
    }
    .container {
        background: var(--n-dark-cyan);
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .footer-paragraph {
        max-width: 22rem;
        font-weight: 600;
    }
    .footer-contact {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        .footer-info {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
    
            .wrap-phone-mail {
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
            }
            .phone, .email {
                display: flex;
                align-items: center;
                column-gap: 1rem;
            }
            .socials {
                margin-top: 2rem;
                font-size: 2rem;
                display: flex;
                column-gap: 1.3rem;

                .fa-facebook-square, .fa-instagram, .fa-twitter-square {
                    &:hover {
                        cursor: pointer;
                        color: #2ac6d1;
                    }
                }
            }
        }
    }
    .footer-newsletter {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        h3 {
            padding-top: 1rem;
        }
        form {
            display: flex;
            column-gap: 2rem;
            input[type="email"] {
                width: 18rem;
                height: 2.5rem;
                padding: 0 1rem;
                background: white;
                border-radius: 7px;
            }
            input[type="submit"] {
                background: var(--prm-pink);
                color: white;
                padding: 0 2rem;
                height: 2.5rem;

                border-radius: 7px;;
            }
        }

    }
    &::before {
        content: '';
        display: block;
        background-image: url(images/bg-footer-top-desktop.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 158px;
    }
}

@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        row-gap: 5rem;
    }
    section {
        text-align: center;
    }
    .hero {
        .wrap-feedback {
            column-gap: 7rem;
        }
        .hero-ilustration {
            max-width: 40rem;
            padding-inline: 1rem;
        }
    }
    .grow {
        .grow-ilustration {
            order: 1;
            max-width: 25rem;
        }
        .grow-information {
            order: 2;
            padding-bottom: 5rem;
        }
        &::before {
            background-image: url(images/bg-section-top-mobile-1.svg);
            height: 230px;
        }
        &::after {
            background-image: url(images/bg-section-bottom-mobile-1.svg);
        }
    }
    .conversation {
        .conversation-ilustration {
            max-width: 25rem;
        }
    }
    .users {
        .users-ilustration {
            order: 1;
            max-width: 25rem;
        }
        .users-information {
            order: 2;
            padding-bottom: 5rem;
        }
        &::before {
            background-image: url(images/bg-section-top-mobile-2.svg);
            height: 200px;
        }    
        &::after {
            background-image: url(images/bg-section-bottom-mobile-2.svg);
            height: 200px;
        }
    }
    footer {
        .footer-contact {
            order: 2;
        }
        .footer-newsletter {
            order: 1;

            form {
                flex-direction: column;
                row-gap: 1rem;
                align-items: flex-end;

                input[type="submit"] {
                    width: 10rem;
                    height: 2.5rem;
                }
                input[type="email"] {
                    width: 100%;

                }
            }
        }
    }
}

@media (max-width: 560px) {
    .btn {
        padding: .9rem 2rem;
        font-size: .9rem;
    }
    .hero {
        .wrap-feedback {
           grid-template-columns: 1fr;
           row-gap: 5rem;
           .feedback {
               .feedback-headear {
                   font-size: 3.5rem;
               }
           }
        }
    }
    .grow {
        .grow-ilustration {
            max-width: 18rem;
        }
    }
    .users {
        .users-ilustration {
            max-width: 18rem;
        }
    }
    .conversation {
        .conversation-ilustration {
            max-width: 18rem;
        }
    }
}